@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    font-family: "Quicksand";
    background-color: #F1F8F5;
}

.order-header .info {
    display: grid;
    margin: 20px 3vw;
    grid-template-columns: 40% 60%;
}

.order-header .info h1 {
    color: #000000;
    background-color: inherit;
    font-size: larger;
}

.order-header .attribute {
    display: grid;
    margin: 20px 6vw;
    grid-template-columns: 33% 34% 33%;
}

@media only screen and (max-width: 991px) {
    .order-header .detail button {
        width: 21.5vw;
        height: 40px;
        font-size: large;
    }
    .order-header .info h1 {
        font-size: large;
    }
}

@media only screen and (max-width: 575px) {
    .order-header h1 {
        font-size: medium;
    }
    .order-header .attribute {
        display: grid;
        margin: 20px 3vw;
        grid-template-columns: 33% 34% 33%;
    }
}