@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    font-family: "Quicksand";
    background-color: #F1F8F5;
}

.orderItem {
    margin: 20px 3vw;
    height: 75px;
    display: grid;
    grid-template-columns: 15% 25% 20% 33% 7%;
    background-color: #EAEAEB;
    border-radius: 20px;
}

.orderItem img {
    margin: auto 2vw;
    width: 55px;
}

.orderItem>span {
    margin: auto 0;
    background-color: #EAEAEB;
}

.orderItem>span:last-child {
    margin-right: 4.5vw;
}

.orderItem .quantity {
    background-color: #EAEAEB;
}

.orderItem .quantity span {
    background-color: #EAEAEB;
}

.orderItem .quantity img {
    margin-top: auto;
    margin-bottom: auto;
    width: 10px;
    background-color: #EAEAEB;
    opacity: 0.3;
}

.orderItem .quantity img:hover,
.orderItem .quantity img:active {
    opacity: 1;
}

.orderItem .quantity>span {
    margin-top: auto;
    margin-bottom: auto;
}

.orderItem .remove {
    width: 25px;
    background-color: #EAEAEB;
    opacity: 0.3;
}

.orderItem .remove:hover,
.orderItem .remove:active {
    opacity: 1;
}

@media only screen and (max-width: 991px) {
    .orderItem {
        grid-template-columns: 15% 25% 20% 31% 9%;
    }
    .orderItem>span:last-child {
        margin-right: 5.5vw;
    }
}

@media only screen and (max-width: 575px) {
    .orderItem {
        grid-template-columns: 15% 25% 20% 29% 11%;
        height: 65px;
        font-size: small;
    }
    .orderItem .name {
        margin: auto 2vw;
    }
    .orderItem img {
        margin-top: auto;
        margin-bottom: auto;
        width: 45px;
    }
    .orderItem .quantity img {
        width: 8px;
    }
    .orderItem>span:last-child {
        margin-right: 3vw;
    }
    .orderItem .remove {
        width: 20px;
    }
}