@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    font-family: "Quicksand";
    background-color: #F1F8F5;
}

.Payment-header {
    margin: 50px 0px 0px; 
    text-align: center;
}
.info{
    display: flex;
    flex-wrap: wrap;
}

.info h4{
    flex: 1 0 31%; /* explanation below */
    margin: 5px;
    height: 100px;
    font-size: 25px;
}

.sub_info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.sub_info h4{
    display: block;
    margin-top: 10px;
    text-align: center;
}
