.navbar {
    padding: 10px 10px 10px 10px;
    align-items: center;
    border-radius: 10px;
    margin: 10px 40px 5px;
    background-color: white;
    
}

.navbar h1{
    font-weight: 500;
    font-size: calc(1.375rem + 1.0vw);
}