.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: white;
    left:50%;
    top:10%;
    transform: translate(-50%,0%);
    border-radius: 15px;
}

.modal-main .button-div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BlackButton{
    background: #353535;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 10px;
}

.BlueButton{
    background: #24A0ED;
    text-align: center;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 5px;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.online_payment_body {
    float: left;
    border: 1px solid black;
    border-radius: 15px;
}

.online_confirm {
    float: right;
    width: 21%;
    margin: 112px auto;
    background-color: white;
    margin: 137px 40px;
}

.online_item input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
}

.online_item {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.online_item:first-child {
    margin-top: 20px;
}

.online_item p {
    margin: 0;
    text-align: left;
}