.bt {
    height: 60px;
    width: 160px;
    text-align: center;
    font-family: nunito;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 30px 15px;
    cursor: pointer;
    border-radius: 20px;
    border-color: #0AA85C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin-left {
    margin-left: 50px !important;
}