.header{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border-style: groove;
    border-color: #0AA85C;
    margin: 20px 45px 0px;
}

.navbar {
    padding: 10px 10px 10px 10px;
    justify-content: center !important;
    align-items: center;
    margin: 10px 40px 5px;
    background-color: white;
    border-radius: 10px;
}

.header >* >*{
    padding: 0 15px;
}
.header-left{
    font-family: nunito;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
}
.header-right{
    display: flex;
    align-items: center;
}

.header-mobile{
    display: none;
    z-index: 2;
}
@media only screen and (max-width: 468px) {
    .header-transparent{
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 100vh;
        min-width: 100vw;
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
    }
    .header-left{
        display: none;
    }
    .header-right{
        display: none;
    }
    .header-icon{
        display: block;
    }
    .header-mobile{
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        background-color: rgb(240, 240, 240);
    }
    .header-mobile a{
        display: block;
        text-decoration: none;
        color: black;
        padding: 20px 10px;
        display: block;
    }
    .header-mobile a:hover{
        background-color: white;
    }
    .header-mobile>*{
        padding: 15px 0;
    }
}