@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: #f1f8f5;
  background-color: #00b359;
}

.navbar {
  padding: 10px 10px 10px 10px;
  align-items: center;
  margin: 10px 40px 5px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #353535;
  display: flex;
  justify-content: center;
}

.navbar h1 {
  color: #000000;
  background-color: inherit;
  text-align: center;
  font-size: larger;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  justify-content: center !important;
  margin: 10px 40px 5px;
  background-color: #F1F8F5;
  border-radius: 10px;
  font-size: larger;
  border-radius: 20px;
    border-style: groove;
    border-color: #0AA85C;
}

.insidetext{
  color: #000000;
  background-color: inherit;
  font-size: larger;
  align-items: center;
  font-weight: bold;
  text-align: center;
}


