@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: #f1f8f5;
}

.items-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.items-list-container-grid-info {
  width: 60%;
  /* border: 1px solid black; */
}

.items-list-container-grid-btn {
  width: 39%;
  /* border: 1px solid black; */
}

.item-list {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

button:focus {
  outline: none;
}

.item-btn .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.item-btn.item-btn-confirm .detail button {
  height: 46px;
  width: 14vw;
  background-color: #0eb062;
  border-radius: 10px;
  border: 1px solid #0aaf60;
  color: #ffffff;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.item-btn.item-btn-details .detail button {
  height: 46px;
  width: 14vw;
  background-color: #ebb011;
  border-radius: 10px;
  border: 1px solid #ebb115;
  color: #ffffff;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.item-btn .info {
  display: grid;
  margin: 20px 6vw;
  grid-template-columns: 33% 34% 33%;
}

.item-btn .info h1 {
  color: #000000;
  background-color: inherit;
  font-size: larger;
}

.item-btn > h1 {
  margin: 40px 6vw 5px;
  color: #000000;
  background-color: inherit;
  font-size: larger;
}

.item-btn .attribute {
  display: grid;
  margin: 20px 6vw;
  grid-template-columns: 33% 34% 33%;
}

.item-btn .info h1 {
  color: #000000;
  background-color: inherit;
  font-size: larger;
}

@media only screen and (max-width: 991px) {
  .item-btn .detail button {
    width: 21.5vw;
    height: 40px;
    font-size: large;
  }
  .item-btn .info h1 {
    font-size: large;
  }
}

@media only screen and (max-width: 575px) {
  .item-btn .info {
    grid-template-columns: 100%;
  }
  .item-btn .detail button {
    width: 30vw;
    height: 36px;
    font-size: small;
  }
  .item-btn h1 {
    font-size: medium;
  }
  .item-btn .attribute {
    display: grid;
    margin: 20px 3vw;
    grid-template-columns: 33% 34% 33%;
  }
}
