@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: #f1f8f5;
}

.clerk-tabs {
  margin: 0 auto;
}

.App .select-bar {
  display: grid;
  grid-template-columns: 50% 50%;
}

.App .select-bar .option {
  padding: 10px 10px 10px 10px;
  align-items: center;
  margin: 5px 40px 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #353535;
  text-decoration: none;
}

.App .select-bar .option:hover {
  background-color: #ededed;
}

.App .select-bar .option:active {
  background-color: #969696;
}

.App .select-bar .option h1 {
  color: #000000;
  background-color: inherit;
  font-size: larger;
  text-align: center;
}

.App .select-bar .option.grey {
  background-color: #ededed;
}

@media only screen and (max-width: 991px) {
  .App .select-bar .option h1 {
    font-size: large;
  }
}

@media only screen and (max-width: 575px) {
  .App .select-bar {
    display: grid;
    grid-template-columns: 100%;
  }
  .App .select-bar .option h1 {
    font-size: small;
  }
}
