@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: #F1F8F5;
}

.navbar {
  padding: 10px 10px 10px 10px;
  align-items: center;
  margin: 10px 40px 5px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #353535;
}

.navbar h1 {
  color: #000000;
  background-color: inherit;
  text-align: center;
  font-size: larger;
}

.noselect{
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

.select-bar-container{
  display: flex;
}

.select-bar-container .option{
  flex: 50%;
  padding: 10px 10px 10px 10px;
  align-items: center;
  margin: 5px 40px 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #353535;
}

.select-bar-container .option h1{
  color: #000000;
  background-color: inherit;
  font-size: larger;
  text-align: center;
}

.content{
  margin: 10px 0px 5px;
}

.header{
  padding: 20px 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header button{
  margin-left: auto;
  font-size: large;
  border-radius: 5px;
}

.tableList{
  padding: 40px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 500ms;
  overflow: hidden;
  padding: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card h2{
  background: inherit;
  font-size: 20px;
  color: #000000;
}

.card .button{
  background: #353535;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  color: white;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.unoccupied {
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 200px;
  border: 10px;
  background-color: green;
}

.occupied {
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 200px;
  border: 10px;
  background-color: yellow;
}



